<h3>Error!</h3>

<h5>The Ship is sinking! Everyboy get swimmin'!</h5>

<p>
  Error Type: <%= @e.exception %>
</p>
<p>
  Error Backtrace: <%= @e.backtrace %>
</p>
<p>
  Error Backtrace Location: <%= @e.backtrace_locations %>
</p>

<h2>Good Luck Fixing Me!</h2>
